@using InstgramWebApp.Controllers
@using InstgramWebApp.Extensions
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["css"] = new string[1] { "~/Content/CSS/login.css" };
}

<div class="forgetPassForm" style="margin-top: 170px;">
    <div class="container">
        <div class="box">
            <img class="logo" src="~/Content/img/Instagram_logo.svg.png">
            <form class="login-form">
                <div class="field">
                    <input id="email" type="email" placeholder="Email" />
                    <label for="email">Enter your email</label>
                </div>
                <button class="login-button" title="login">Submit</button>
                <hr>

            </form>
        </div>
        <div class="box">
            <p>Did you remember your password? <a class="login" href="@Url.GenerateHref(nameof(AccountController.Login),nameof(AccountController),Request)">Log in</a></p>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("_Footer");
}
